@keyframes open-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes close-slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.side-bar {
  width: 100%;

  // position: absolute;

  display: grid;
  grid-template-areas:
    'info-box'
    'contents';

  animation: open-slide 0.15s ease-in-out;
  animation-fill-mode: forwards;

  background-color: #f8f8fa;

  &.closing {
    animation: close-slide 0.15s ease-in-out;
    animation-fill-mode: forwards;
  }

  .info-box {
    grid-area: info-box;

    width: 100%;
    height: 200px;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #4ac1eb;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .info-area {
      color: #fff;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
    }

    .login {
      text-align: center;
    }

    .close-btn {
      position: absolute;
      font-size: 20px;
      left: 0;
      top: 0;

      transform: translate(120%, 120%);
    }
  }
  .contents {
    grid-area: contents;

    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    row-gap: 16px;

    padding: 32px 16px;

    .contents-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 16px;

      .item-title {
        color: #191919;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        &.gray {
          color: #999999;
        }

        &.disable {
          color: #e1e1e5;
        }

        .item-title-icon {
          padding-right: 5px;
          font-size: 24px;
        }

        .help-link {
          text-decoration: none;
          color: #191919;
        }
      }
      .item-child {
        color: #767676;

        &.disable {
          color: #e1e1e5;
        }
      }
    }
  }
}
